/* font */
@font-face {
  font-family: "iranSans";
  src: url("../fonts/iranSans.eot") format("embedded-opentype"),
    url("../fonts/iranSans.woff") format("woff"),
    url("../fonts/iranSans.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body * {
  font-family: iranSans !important;
  font-size: 14px;
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;
  /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
}

.borderRadius-15 {
  border-radius: 15px;
}

.list ul.ant-pagination {
  direction: ltr !important;
}

.baxshadow {
  box-shadow: 0px 0px 5px 0px;
}

/* cards hover in dashboard section */
.cards {
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 500px !important;

  border-radius: 15px;
}
/* .cards img {
  transition: 0.5s;
} */

.cards:hover {
  transform: translateY(-10px);
}
/* .cards:hover img {
  border-radius: 50% !important;
  transform: translateY(-20px);
} */
/* login form style for transparency */
.login-form {
  background-color: rgba(255, 255, 255, 0.664);
}

.ant-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-footer > button {
  width: 30%;
}

.ant-tabs-tab {
  margin-left: 20px;
} /* Adjust the margin value as needed */

.input-picker {
  margin: 20px 0px !important;
}

.input-picker > input {
  padding: 30px 10px !important;
  color: lightgray;
}

.ant-tabs-tab {
  font-weight: bold;
}
.ant-tabs-tab-btn {
  font-size: 15px !important;
}
/* ------------------------------ */
.card-img {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px !important;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mainparentcard {
  background-image: linear-gradient(
    25deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: 0.5s;
  border-radius: 15px !important;

  width: 400px !important;
}

.mainparentcard:hover {
  transform: translateY(-5px);
}

.descard p {
  font-weight: 700;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none !important;
  color: white;
}
